@model StudentManagement.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>link Sent</title>
    <link href="~/assets/css/loginPage.css" rel="stylesheet" />
    <style>
        body{
            height: 500px;
            display:flex;
            justify-content:center;
            align-content:center;
        }
        .container {
            background-color: white;
            box-shadow: 8px 8px 20px rgb(128, 128, 128);
            position: relative;
            overflow: hidden;
            align-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-section">
                <div class="login-box">
                    <h3 class="heading subHeadlogin">The Mail has been sent. Please Check and reset using the link Provided.</h3>
                </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/assets/JS/loginPage.js"></script>
</body>
</html>
