@model StudentManagement.Models.ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link href="~/assets/css/loginPage.css" rel="stylesheet" />
</head>
<body>
    <header>
        <br />
        <h1 class="heading">StudentManagement</h1>
        <h3 class="title"> Reset Password using Email</h3>
    </header>
    <div class="container">
        <div class="form-section">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="login-box">
                    <h3 class="heading subHeadlogin">The link will be sent to your Email.</h3>
                    @Html.TextBoxFor(SignUp => Model.Email, new { placeholder = "Your@Email.com", @id = "ResetEmail", @class = "email ele" })
                    <button type="submit" class="btn btn-primary">Send reset Link</button>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/assets/JS/loginPage.js"></script>
</body>
</html>
